{% load static %} {% include 'authentication/base_auth.html' %} 
{% block content%}


<div class="container">
  <form method="post" action="{% url 'sign_in'%}">
    {% csrf_token %}
      
    {% include 'partials/_message.html' %}
    <p class="text-1">Sign In</p>
       <div class="form-row">
        <label for="username">USERNAME</label>
        <input 
          type="text" 
          name="username" 
          id="username" 
          class="input-text"
          required />
        <label class="username-error" style="display:none;color:red"></label>
      </div>

      <div class="form-row">
        <label for="password">PASSWORD</label>
        <input
          type="password"
          name="password"
          id="password"
          class="input-text"
          required
        />
        <div class="show"><i class="fas fa-eye"></i></div>
        <label class="password-error" style="display:none;color:red"></label>
      </div>
      <div class="form-row">
        <input
          type="submit"
          name="register"
          class="register"
          value="Register"
        />
      <p class="link">Or &nbsp;<a href=" {% url 'sign_up' %} ">Sign up</a></p>
       
  </form>

</div>


{% comment %} <script src=" {% static 'js/signup.js' %} "></script> {% endcomment %}

{% endblock %}
