{% load static %} {% include 'authentication/base_auth.html' %} 
{% block content%}


<div class="container">
  <form method="post" action="{% url 'sign_up'%}">
    {% csrf_token %}
      
    {% include 'partials/_message.html' %}
    <p class="text-1">Sign In</p>

      <div class="form-row">
        <label for="your_email">E-MAIL</label>
        <input
          type="text"
          name="your_email"
          id="your_email"
          class="input-text"
          required
          pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
        />
        <label class="email-error" style="display:none;color:red"></label>
      </div>

      <div class="form-row">
        <label for="password">PASSWORD</label>
        <input
          type="password"
          name="password"
          id="password"
          class="input-text"
          required
        />
        <div class="show"><i class="fas fa-eye"></i></div>
        <label class="password-error" style="display:none;color:red"></label>
      </div>
      <div class="form-row">
        <input
          type="submit"
          name="register"
          class="register"
          value="Register"
        />
      <p class="link">Or &nbsp;<a href=" {% url 'sign_up' %} ">Sign up</a></p>
       
  </form>

</div>


<script src=" {% static 'js/signup.js' %} "></script>

{% endblock %}
