*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background: url('../images/BackGround.png' );
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container{
	background: rgba(0, 0, 0, .5);
	backdrop-filter: blur(2px);
	width: 70%;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	padding: 40px;
}

@media only screen and (max-width:750px){
	.container{
		padding:20px;
		width:85%;
	}
}

form{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.text-1{
	text-align: center;
	color:rgb(139, 255, 245);
}

.link{
	text-align: right;
	margin-top: 10px;
}

.link a{
	color: #b3ff00;
}

form .form-row{
	display: flex;
	flex-direction: column;
	padding:20px;
	position: relative;
}

form .form-row .show{
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	cursor: pointer;
}

form .form-row input[type="text"], input[type='password']{
	padding:10px 5px;
	border: none;
	border-bottom: 1px solid #fff;
	background: none;
	outline: none;
	color: #fff;
}
.invalid{
	border-bottom: 1px solid #ff0000;
}

form .form-row input[type="submit"]{
	padding:10px 5px;
	background:rgb(139, 255, 245);
	border: none;
	outline: none;
	cursor: pointer;
	transition: all ease 200ms;
}
form .form-row input[type="submit"]:disabled {
  background: #dddddd;
  cursor: not-allowed;
}

form .form-row input[type='submit']:hover{
	background:#fff;
}

.alert{
	padding:10px;
}

.alert.alert-success{
	background:#e0ff98;
	color:#178a00
}
.alert.alert-error{
	background:#ff98e5;
	color:#8a0039
}
.alert.alert-warning{
	background:#f0ff98;
	color:#8a8100
}
.alert.alert-info{
	background:#98cdff;
	color:#002c8a
}